<footer class="footer footer-dark footer-big">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-12 text-center">
              <img class = "phone" src="/assets/svg/phone.svg" alt="phone" >
            </div>
            <div class="col-md-12 text-center text">
              give us a ring
            </div>    
            <div class="col-md-12 text-center text">
              Md Mobshshir Nayeem
            </div>    
            <div class="col-md-12 text-center text">
              +91 7808213330
            </div>    
          </div>

          <div class="col-md-4">
              <div class="col-md-12 text-center">
                <img class = "phone" src="/assets/svg/mail.svg" alt="phone" >
              </div>
              <div class="col-md-12 text-center text">
                mail us
              </div>    
              <div class="col-md-12 text-center text">
                Webyte Official
              </div>    
              <div class="col-md-12 text-center text">
                webyteofficial@gmail.com
              </div>    
            </div>
  
          <div class="col-md-4 text-center">
            <h5 id="follow">Follow Us</h5>
            <ul class="social-buttons">
              <li>
                  <a target="_blank" href="https://www.youtube.com/channel/UClQ57Iza0JDCH8X2JFwNHLg"><img src="/assets/svg/youtube.svg" alt="youtube"></a>
              </li>
              <li>
                  <a target="_blank" href="https://www.facebook.com/webyteofficial/"><img src="/assets/svg/facebook.svg" alt="facebook"></a>
              </li>
              <li>
                  <a target="_blank" href="https://twitter.com/webyteofficial"><img src="/assets/svg/twitter.svg" alt="twitter"></a>
              </li>
              <li>
                  <a target="_blank" href="https://www.instagram.com/webyteofficial"><img src="/assets/svg/instagram.svg" alt="instagram"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr />

      <div class="copyright pull-center">
          <p>Made with <img src="/assets/svg/love.svg" alt="love"> by 
            <a href="https://github.com/abhiarrathore" target="_blank">Abhishek Rathore</a> and
            <a href="https://www.instagram.com/_ganjewala_/" target="_blank">Ritesh Ganjewala</a>
          </p>
      </div>
    </div>
  </footer>

