@import url('./../../../assets/css/material-kit.css');
@import "./../../shared/variables.scss";

footer{
    background: #151416;
}
img.phone{
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.text{
    color: $primaryDark;
}

#follow{
    color: $primary;
    font-family: Metropolis;
}