<main id="event-des">
  <nav>
    <ul>
      <li class="tablink active-tab"><span>INFO</span></li>
      <li class="tablink"><span>PROBLEM STATEMENT</span></li>
      <li class="tablink"><span>RULES</span></li>
      <li class="tablink"><span>REGISTER</span></li>
      <li class="tablink"><span>RESOURCES</span></li>
    </ul>
  </nav>
  <div>
    <div class="tabcontent active" id="info">
      <h2>INFORMATION</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nihil impedit nemo voluptas aliquam reprehenderit incidunt earum quas dicta nesciunt?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellat amet fugit fugiat, hic dolores in, ab doloremque eaque eum et adipisci ut est, autem velit unde, quod laboriosam atque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minus facere perferendis voluptatibus at numquam et aspernatur dolorem, vero, sunt cumque officiis, consequuntur. Nesciunt, unde.</p>
    </div>
    <div class="tabcontent" id="pstat">
      <h2>PROLEM STATEMENT</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nihil impedit nemo voluptas aliquam reprehenderit incidunt earum quas dicta nesciunt?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellat amet fugit fugiat, hic dolores in, ab doloremque eaque eum et adipisci ut est, autem velit unde, quod laboriosam atque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minus facere perferendis voluptatibus at numquam et aspernatur dolorem, vero, sunt cumque officiis, consequuntur. Nesciunt, unde.</p>
    </div>
    <div class="tabcontent" id="rules">
      <h2>RULES</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nihil impedit nemo voluptas aliquam reprehenderit incidunt earum quas dicta nesciunt?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellat amet fugit fugiat, hic dolores in, ab doloremque eaque eum et adipisci ut est, autem velit unde, quod laboriosam atque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minus facere perferendis voluptatibus at numquam et aspernatur dolorem, vero, sunt cumque officiis, consequuntur. Nesciunt, unde.</p>
    </div>
    <div class="tabcontent" id="register">
      <h2>REGISTER</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nihil impedit nemo voluptas aliquam reprehenderit incidunt earum quas dicta nesciunt?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellat amet fugit fugiat, hic dolores in, ab doloremque eaque eum et adipisci ut est, autem velit unde, quod laboriosam atque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minus facere perferendis voluptatibus at numquam et aspernatur dolorem, vero, sunt cumque officiis, consequuntur. Nesciunt, unde.</p>
    </div>
    <div class="tabcontent" id="resrcs">
      <h2>RESOURCES</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nihil impedit nemo voluptas aliquam reprehenderit incidunt earum quas dicta nesciunt?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellat amet fugit fugiat, hic dolores in, ab doloremque eaque eum et adipisci ut est, autem velit unde, quod laboriosam atque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minus facere perferendis voluptatibus at numquam et aspernatur dolorem, vero, sunt cumque officiis, consequuntur. Nesciunt, unde.</p>
    </div>
  </div>
</main>
