<section id="signup">
	<div class="row wrapper">
		<div class="col-md-2"></div>
		<div class="card col-md-8">
			<form class="form" method="" action="">
				<div class="card-header text-center">
					<h3 class="card-title title-up">Sign Up</h3>
					<div class="social-line">
						<!-- <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
							<i class="fab fa-facebook-square"></i>
						</a> -->
						<a href=""  id ="google">
							<img src="./../../assets/svg/google.svg" alt="">
						</a>
						<!-- <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
							<i class="fab fa-google-plus"></i>
						</a> -->
					</div>
				</div>
				<div class="row">
					<div class="input-group col-md-6">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<img src="./../../assets/svg/first.svg" alt="">
							</span>
						</div>
						<input type="text" class="form-control" placeholder="First Name...">
					</div>
					<div class="input-group col-md-6">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<img src="./../../assets/svg/last.svg" alt="">
							</span>
						</div>
						<input type="text" placeholder="Last Name..." class="form-control" />
					</div>
				</div>

				<div class="row">
					<div class="input-group col-md-12">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<img src="./../../assets/svg/enroll.svg" alt="">
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Enrollment...">
					</div>
				</div>
						
				<div class="row">
					<div class="input-group col-md-12">
						<div class="input-group-prepend">
							<span class="input-group-text">
									<img src="./../../assets/svg/mail.svg" alt="">
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Email...">
					</div>
				</div>
				<div class="row">
					<div class="input-group no-border col-md-12">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<img src="./../../assets/svg/key.svg" alt="">
							</span>
						</div>
						<input type="password" class="form-control" placeholder="Password...">
					</div>
				</div>
				<div class="card-footer text-center">
					<a href="#pablo" class="btn1">Get Started</a>
				</div>
			</form>
		</div>
	</div>
</section>