@import url('./../../../assets/css/material-kit.css');
@import "./../../shared/variables.scss";

.row>* {
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

footer {
  background: #151416;

  p {
    margin: 0 !important;
  }
}

.credits {
  text-align: center;
}

.socials {
  li {
    a {
      padding: 9px !important;

      img {
        height: 18px;
        width: 18px;
      }
    }

    a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50% !important;
      border: 1px solid $primary;
      transition: 500ms;
      height: 36px;
      width: 36px;
    }

    &:hover a::after {
      transform: rotateY(180deg);
      transition: 500ms;
    }
  }
}

// .socials {
//   li {
//     &:hover a {
//       transform: rotateY(180deg);
//       transition: 300ms;

//       img {
//         transform: rotateY(180deg);
//       }
//     }
//   }

//   a {
//     display: inline-flex;
//     border-radius: 50% !important;
//     border: 1px solid $primary;
//     padding: 7px 8px !important;
//     transition: 300ms;
//     justify-content: center;
//     align-items: center;

//     img {
//       height: 16px;
//       width: 16px;
//       transition: 300ms;
//     }
//   }
// }

// img.phone {
//   width: 60px;
//   height: auto;
//   margin-bottom: 20px;
// }

// .text {
//   color: $primaryDark;
// }

// #follow {
//   color: $primary;
//   font-family: Metropolis;
// }

// @media (max-width : '840px') {
//   .col-md-4 {
//     margin-bottom: 50px;
//   }
// }
