<div id="profile" *ngIf="me">
  <div class="group row">
      <div class="col-md-4"> Name </div>
      <div class="col-md-"> {{ me.fullName }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Enrollment </div>
      <div class="col-md-8"> {{ me.enrollment }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Email </div>
      <div class="col-md-8"> {{ me.email }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Gender </div>
      <div class="col-md-8"> {{ me.gender }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Branch </div>
      <div class="col-md-8"> {{ me.branch }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Semester </div>
      <div class="col-md-8"> {{ me.semester }} </div>
  </div>
  <div class="group row">
      <div class="col-md-4">  Phone </div>
      <div class="col-md-4"> {{ me.phone }} </div>
  </div>

  <div class="text-center">
    <a routerLink="edit" class="btn1">Edit</a>
  </div>
</div>