<section id="profile" class="wrapper">
  <div class="container row">
    <div class="col-md-1"></div>

    <div class="col-md-10 row">
      <div class="col-md-3 row">
        <div class="col-md-12 navitems">
          Profile
        </div>
        <div class="col-md-12 navitems">
          Achievements
        </div>
        <div class="col-md-12 navitems">
          Participation
        </div>
        <div class="col-md-12 navitems">
          Reset Password
        </div>
      </div>

      <div class="col-md-9">
        something
      </div>
    </div>

  </div>
</section>