<div class="team-1 wrapper" id="team-1">
  <div class="container">
    <h2 class="title text-center">L'Hopitals</h2>
    <div class="row justify-content-center">

      <div class="col-md-3" *ngFor="let member of team | teamFilter:'type':'Prominence'">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href={{member.socials[0].url}} target="_blank">
              <img class="img" src="assets/img/faces/kendall.jpg" />
            </a>
          </div>

          <div class="card-content">
            <h4 class="card-title">{{member.name}}</h4>
            <h6 class="category text-muted">{{member.designation}}</h6>

            <div class="footer">
              <a href={{social.url}} target="_blank" class="btn btn-just-icon btn-simple btn-twitter" *ngFor="let social of member.socials">
                <i class="fa fa-{{social.media}}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title text-center">First Principles</h2>
    <div class="row justify-content-center">
      <div class="col-md-3" *ngFor="let member of team | teamFilter:'type':'Prime'">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href={{member.socials[0].url}} target="_blank">
              <img class="img" src="assets/img/faces/avatar.jpg" />
            </a>
          </div>

          <div class="card-content">
            <h4 class="card-title">{{member.name}}</h4>
            <h6 class="category text-muted">{{member.designation}}</h6>

            <div class="footer">
              <a href={{social.url}} target="_blank" class="btn btn-just-icon btn-simple btn-twitter" *ngFor="let social of member.socials">
                <i class="fa fa-{{social.media}}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
