$secondary: #ffc107;
$secondaryLight : #fff350;
$secondaryDark : #c79100;

$primary : #2bdbff;
$primaryLight : #78ffff;
$primaryDark : #0d7c92;


form{
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    margin-top: 50px;
}

.row{
    margin-bottom: 20px;
}